GATEWAY_SERVICE_URL=http://gateway-service:3004
NEXT_PUBLIC_NOTIFICATIONS_WS_URL=http://localhost:3003
COOKIE_SECURE=false
NEXT_PUBLIC_JAEGER_URL=http://localhost:16686
FRONTEND_ORIGIN=http://localhost:3000
